*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: black;
}
.box{
    width: 400px;
    height: 400px;
    background-color: rgb(11, 14, 13);
    margin-top: 200px;
}
textarea{
    width: 100%;
    height: 190px;
    background-color: rgb(71, 79, 79);
    border-radius: 5px;
    color: white;
}
button{
    width: 150px;
    height: 30px;
    background-color: chartreuse;
    color: white;
    margin-left: 20%;
    border-radius: 5px;
    font-weight: bold;
    
}